
#Caveopolis Access Transformer

public net.minecraft.world.item.crafting.ShapedRecipe group
public net.minecraft.world.item.crafting.ShapedRecipe pattern
public net.minecraft.world.item.crafting.ShapedRecipe result